.machine {
  margin-top: 15%;
}
.slot {
  text-align: center;
  border: 3px solid #e5bd17;
  height: 250px;
  width: auto;
}
.slot-one{
  background-image: url("../images/slot1.png");
  background-size: cover;
}
.slot-two{
  background-image: url("../images/slot2.png");
  background-size: cover; 
}
.slot-three{
  background-image: url("../images/slot3.png");
  background-size: cover;
}
.spin{
  margin-top: 2em;
}
.spin-button {
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255,0.75);
  background-color: rgba(230,70,20,0.85);
  border: 2px solid rgba(230,70,20,0.95);
}
.spin-button:hover{
  background-color: rgba(230,70,20,0.75);
}