.machine {
  margin-top: 15%;
}
.slot-reel {
  text-align: center;
  border: 3px solid #e5bd17;
  height: 250px;
  width: auto;
  overflow: hidden;
}
.slide {
  background-size: cover;
  background-repeat: repeat-y;
  height: 250px;
}
/* Slot Styles */
.slot {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.slot-one{
  @extend .slide;
  background-image: url("../images/slot1.png");
}
.slot-two{
  @extend .slide;
  background-image: url("../images/slot2.png");
}
.slot-three{
  @extend .slide;
  background-image: url("../images/slot3.png");
}
/* Slide Positions */
.position-0 {
  background-position: 0% 100%;
}
.position-1 {
  background-position: 0% 199%;
}
.position-2 {
  background-position: 0% 295%;
}
/* Spin Button */
.spin{
  margin-top: 2em;
}
.spin-button {
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255,0.75);
  background-color: rgba(230,70,20,0.85);
  border: 2px solid rgba(230,70,20,0.95);
  &:hover {
    background-color: rgba(230,70,20,0.75);
  }
}