body {
  background-color: hsla(0,0%,90%,1);  
  background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
}
.machine {
  margin-top: 5em;
}

/* Slot Styles */
.slot-container {
  .slot-reel {
    text-align: center;
    border: 3px solid #e5bd17;
    height: 250px;
    width: auto;
    overflow: hidden;
    //Massaging for smaller screens
    @media(max-width:990px) {
      margin-top: 2em;
      height: 235px;
    }
  }
  .slot {
    background-size: cover;
    background-repeat: repeat-y;
    height: 250px;
    -webkit-transition: background-position 175ms ease;
    transition: background-position 175ms ease;
  }
  .slot-one{
    background-image: url("../images/slot1.png");
  }
  .slot-two{
    background-image: url("../images/slot2.png");
  }
  .slot-three{
    background-image: url("../images/slot3.png");
  }
}

/* Slide Positions - Media Queries to give slight responsive fix */
.position-0 {
  background-position: 0% 0%;
}
.position-1 {
  background-position: 0% 50%;
  @media(max-width:990px) {
    background-position: 0% 52%;
  }
}
.position-2 {
  background-position: 0% 100%;
  @media(max-width:990px) {
    background-position: 0% 103%;
  }
}

/* Spin Button */
.spin {
  margin-top: 2em;
  .spin-button {
    padding: 1em;
    width: 100%;
    background-color: rgba(230,70,20,0.85);
    border: 2px solid rgba(230,70,20,0.95);
    color: rgba(255,255,255,0.75);
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: rgba(230,70,20,0.75);
    }
    &:active {
      background-color: rgba(230,70,20,1);
    }
  }
}
